%%% -*- Mode: Erlang; fill-column: 75; comment-column: 50; -*-
%%% -------------------------------------------------------------------
%%%
%%% Copyright (c) 2016 jrobhoward (jrobhoward@gmail.com)
%%%
%%% This file is provided to you under the Apache License,
%%% Version 2.0 (the "License"); you may not use this file
%%% except in compliance with the License.  You may obtain
%%% a copy of the License at
%%%
%%%   http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing,
%%% software distributed under the License is distributed on an
%%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%%% KIND, either express or implied.  See the License for the
%%% specific language governing permissions and limitations
%%% under the License.
%%%
%%% -------------------------------------------------------------------
{erl_opts, [debug_info]}.
{deps, [
        {erl_libutil, ".*", {git, "https://github.com/jrobhoward/erl_libutil.git", {branch, "master"}}},
        {webmachine, ".*", {git, "https://github.com/jrobhoward/webmachine.git", {branch, "R19_compatible"}}}
       ]}.


{relx, [{release, {rel_git_web, "0.0.1"},
         [git_web,
          erl_libutil,
          mochiweb,
          webmachine,
          sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}]}.

{cover_enabled, true}.
